{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "react-syntax-highlighter": "react-syntax-highlighter"
          // 其他别名...
        }
      }
    ]
  ]
}
