.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

.masonryGrid {
  margin-top: 20px;
  display: flex;
  width: auto;
}

.masonryGridColumn {
  background-clip: padding-box;
}

.masonryItem {
  margin-bottom: 20px;
  // padding: 10px;
  background-color: #f0f0f0;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  max-height: 300px;
  max-width: 260px;
  overflow: hidden;
}

.masonryItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, .12);

}


.local-h3 {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.local-p {
  font-size: 14px;
  color: #666;
}
.avatar-skeleton{
      width: 100%;
      height: 200px;
      line-height: 1;
}