.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.masonryGrid {
  margin-top: 20px;
  display: flex;
  width: auto;
}

.masonryGridColumn {
  background-clip: padding-box;
}

.masonryItem {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  max-height: 300px;
  max-width: 200px;
  overflow: hidden;
}

.masonryItem:hover {
  transform: translateY(-5px);
}


#local-h3 {
  margin-top: 10px;
  font-size: 18px;
}

#local-p {
  font-size: 14px;
  color: #666;
}