/* TableOfContents.module.scss */

.tableOfContents {
  position: fixed;
  top: 50%;
  /* 调整导航栏的垂直位置 */
  right: 20px;
  /* 调整导航栏的水平位置 */
  transform: translateY(-50%);
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tableOfContents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tableOfContents li {
  margin-bottom: 8px;
  /* 调整每个目录项之间的间距 */
}

.tableOfContents a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.tableOfContents a:hover {
  background-color: #f0f0f0;
}

.tableOfContents .active {
  font-weight: bold;
  background-color: #0070f3;
  /* 调整激活项的背景颜色 */
  color: #fff;
  /* 调整激活项的文字颜色 */
}

/* 可根据需要继续添加样式定义 */
