

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 218, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #a0a4a380,
    #c1e0f840,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #bde4f380
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --head-height: 56px;
  --foot-height: 56px;
  --primary: #f7f9fbe6;
  --primary-rbg: 247, 249, 251;
  --font-color: #000;


    --lighting-size: 300px;
    --lighting-color: #000;
    --lighting-highlight-color: #d8b4fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--primary-rbg));
  font-family: Helvetica;
    --x: 0px;
    --y: 0px;
      // background: linear-gradient(20deg,
      //   rgba(220, 184, 228, 0.5),
      //   rgba(190, 152, 152, 0) 70.71%),
      // linear-gradient(150deg, rgba(192, 158, 220, 0.5), rgba(0, 255, 0, 0) 70.71%),
      // linear-gradient(330deg, rgba(199, 136, 163, 0.5), rgba(153, 153, 227, 0) 70.71%);
      // &::after {
      //   width: 100%;
      //   height: 100%;
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;

      //   background: linear-gradient(-45deg, #fbe3c7, #ffd4e1, #c0dafc, #d1fff4); // 100% hue
      //   background: linear-gradient(-45deg, #edbcd5, rgb(253, 253, 199)); // pink > yellow
      //   background-size: 1000%;
      //   mix-blend-mode: overlay;
      //   opacity: .7; // use to alter intensity
      //   animation: bg_rotate 5s linear infinite;
      //   will-change: background-position;
      //   transform: translateZ(0);
      //   pointer-events: none;
      // }

      // @keyframes bg_rotate {
      //   0% {
      //     background-position: 0% 50%;
      //   }

      //   50% {
      //     background-position: 100% 50%;
      //   }

      //   100% {
      //     background-position: 0% 50%;
      //   }
      // }

}

a , div{
  text-decoration: none;
  background-image: radial-gradient(var(--lighting-highlight-color), var(--lighting-color), var(--lighting-color));
  background-size: var(--lighting-size) var(--lighting-size);
  background-repeat: no-repeat;
  background-position-x: calc(var(--x) - var(--positionX) - calc(var(--lighting-size) / 2));
  background-position-y: calc(var(--y) - var(--positionY) - calc(var(--lighting-size) / 2));
  background-color: var(--lighting-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
