.container {
  min-height: calc(100vh - var(--head-height) - var(--foot-height) - 60px);
  margin: var(--head-height) auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.rootCOntainer {
  // min-height: calc(100vh - var(--foot-height));
  width: 100vw;
  box-sizing: border-box;
  // padding-top: var(--head-height);
  overflow-y: auto;
}

.introduce{
  font-family: 'AlexBrush', sans-serif;
}