.container {
  min-height: calc(100vh - var(--head-height) - var(--foot-height) - 56px );
  margin: var(--head-height) auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.rootCOntainer{
  min-height: 100vh;
  width: 100vw;
}

.defaultSidebar{
    position: fixed;
    top: var(--head-height);
    left: var(--head-height);
    width: 184px;
    max-height: calc(100vh - var(--head-height));
    padding-top: 20px;
    padding-bottom: 24px;
    padding-inline-start: 8px;
    padding-inline-end: 32px;
    box-sizing: border-box;
    overflow: auto;
}
.defaultSidebarGroupDoc {
    position: fixed;
    top: var(--head-height);
    right: var(--head-height);
    width: 184px;
    margin-inline-start: 24px;
    max-height: 80vh;
    overflow: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    
}