
.header{
  height: var(--head-height);
  line-height: var(--foot-height);
  background-color: var(--primary);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  align-items: center;
  box-sizing: border-box;
}
.headerLeft {
  display: flex;
}
