.header {
  height: var(--head-height);
  line-height: var(--foot-height);
  background-color: var(--primary);
  backdrop-filter: saturate(180%) blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  align-items: center;
  box-sizing: border-box;
  --globalnav-backdrop-filter: saturate(180%) blur(20px);
  --globalnav-background: rgba(251, 251, 253, .8);
  background: var(--globalnav-background);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.01);
  z-index: 9;
}

.headerLeft {
  display: flex;
}

.dotActive,
.dotInactive {
  position: relative;
  display: inline-block;
}

.dotActive::after{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dotActive::after {
  background-color: black;
}

